
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: url(assets/central-park.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}
.profile-card {
  height: 100%;
  width: 100%;
  position: absolute;
}

.favourite-links, .name-headline, .about, .section-links {
  position: absolute;
  height: 49%;
  width: 20%;
  margin: 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
  text-align: center;
  color: #004d00;
  opacity: 0.8;
  box-shadow: 5px 5px 5px #1a1a1a;
  
  
}

.favourite-links {
  right: 0;
  bottom: 0;
}

.name-headline {
  left: 0;
  top: 0;
}

.about {
  right: 0;
  top: 0;
}

.section-links {
  left: 0;
  bottom: 0;
}

#cf img {
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
img {
  height: 100%;
  width: 100%;
}
#cf {
  height: 37.03%;
  width: 20.83%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  box-shadow: 10px 10px 5px #1a1a1a;
          
}
#cf img.top:hover {
  opacity:0;
}

a {
  color: #004d00;
}

heading {
  margin: auto;
}
.center {
  margin-top: 50%;
  line-height: 2;
  height: 80%;
  width: 100%;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}
